.ScrollBar {
    position: fixed;
    width: 15px;
    height: calc(100vh - 30px - 5rem);
    background-color: rgba(240, 248, 255, 0.384);
    transform: translate(0, 10px);
    z-index: 99999999999;
    right: 15px;
    border-radius: 10px;
    display: flex;
    display: none;
}

.ScrollBar .thund {
    position: absolute;
    margin: 5px 0;
    height: 5rem;
    width: 60%;
    background-color: rgb(228, 151, 8);
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.5s, width 0.3s;
}

.ScrollBar .thund:hover {
    width: 100%;
    box-shadow: 0 0 20px rgba(228, 151, 8, 0.753);
}