.home {
    scrollbar-width: none;
    width: 100vw;
}

/* Home */
.home section {
    background-color: transparent;
}

.home > section > div > span:nth-child(3) {
    color: #FFFFFF;
}

.home section:nth-child(2) {
    background: #000000;
    text-align: justify;
    width: 100vw;
}

.home section:nth-child(2) p {
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 5rem;
}

.home section:nth-child(2) > span {
    font-size: 15px;
    margin-bottom: 5rem;
}

.home span:nth-child(1) {
    color: #f06023;
    letter-spacing: 5px;
    font-size: 12px;
}

.home section:nth-child(3) {
    background-color: #000000;
}

.home h1 {
    font-family: 'Cinzel';
    color: #FFFFFF;
    font-size: 5rem;
    margin: 2rem 0;
}

.home p {
    color: #f06023;
    font-size: x-large;
}

.border-corner {
    padding: 15% 3%;
    border-radius: 50px;
    transition: box-shadow 1s;
}

@media (max-width: 500px){
    .home h1 {
        font-family: 'Cinzel';
        color: #FFFFFF;
        font-size: 2.3rem;
        margin: 2rem 0;
    }    
}