/* Fonts */
@font-face {
    font-family: 'Cinzel';
    src: url(../../fonts//Cinzel-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(../../fonts/Outfit-VariableFont_wght.ttf);
}

/* Home */
.home section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.home section:nth-child(1) {
    height: calc(100vh - 5rem);
}

.home section:nth-child(2) {
    background: #000000;
    text-align: justify;
}

.home span:nth-child(1) {
    color: #f06023;
    letter-spacing: 5px;
    font-size: 12px;
}

.home h1 {
    font-family: 'Cinzel';
    color: #FFFFFF;
    font-size: 4.6rem;
    margin: 2rem 0;
}

.home p {
    color: #f06023;
    font-size: x-large;
}

.border-corner {
    padding: 15% 3%;
    border-radius: 50px;
    transition: box-shadow 1s;
}