.btn_close {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    color: rgb(221, 107, 0);
    margin-right: 2rem;
}

.btn_close > span {
    position: absolute;
    right: 0;
    margin: 0.5rem 1.5rem 0 0;
    font-family: 'Outfit';
    font-weight: 800;
    font-size: large;
    cursor: pointer;
}

.Modal .title {
    color: #000000;
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-family: 'Cinzel';
    font-size: x-large;
    font-weight: 600;
}

.Layout {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background: #0000006e;
    backdrop-filter: blur(2px);
    display: none;
    padding: 0 0.5rem;
}

.Modal {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 2rem;
    background-color: aliceblue;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.541);
    height: 80%;
    width: 84%;
    z-index: 99999999;
    transition: all 1s;
    padding: 1rem;
}

.Modal .Particles {
    z-index: 9999999;
}

.Target {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeInModal {
    animation: fadeIn 1s;
}

.fadeOutModal {
    animation: fadeOut 1s;
}



.Modal > div:nth-child(2) {
    width: 100%;
    height: 100%;
};