.Button span {
    font-size: 15px !important;
    color: #FFFFFF !important;
}

.Button {
    cursor: pointer;
    width: max-content;
    border: none;
    background: none;
    color: #FFFFFF;
}

.Button div {
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 2px solid rgb(214, 140, 3);
    width: 0;
    bottom: 0.65rem;
    transition: all 0.5s;
}

.Button:hover div {
    width: 15rem;
}