* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #000000;
  min-height: 100vh;
  color: #FFFFFF;
}

.layout {
  width: 100vw;
}

.margin-content {
  padding-top: 5rem;
}